trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'smartmotozone-api'

  resourceGroup: 'RG-SmartMotoZone'
  containerInstanceName: 'aci-smartmotozone-api'

  SPRING_DATASOURCE_URL: 'jdbc:postgresql://<SEU-SERVIDOR-AZURE>.postgres.database.azure.com:5432/<SEU-BANCO>'
  SPRING_DATASOURCE_USERNAME: '<SEU-USUARIO>'

stages:
  - stage: Build_e_Test
    displayName: 'Build, Testar e Publicar Imagem'
    jobs:
      - job: BuildTestPush
        displayName: 'Build, Testar e Enviar Imagem ao ACR'
        steps:
          - task: Maven@3
            displayName: '1. Build e Testar com Maven'
            inputs:
            mavenPomFile: 'pom.xml'
            goals: 'package'
            options: '-DskipTests=false'

          - task: Docker@2
            displayName: '2. Build da Imagem Docker'
            inputs:
              command: 'build'
              dockerfile: 'Dockerfile'
              repository: '$(imageName)'
              tags: |
                $(Build.BuildId)
                latest

          - task: Docker@2
            displayName: '3. Login no Azure Container Registry (ACR)'
            inputs:
              command: 'login'
              containerRegistry:
                connectionString: $(azureSubscription)
                # Se não usar 'connectionString', use:
                # registry: '$(acrName).azurecr.io'
                # username: $(acrLogin)
                # password: $(acrPassword)

          - task: Docker@2
            displayName: '4. Push da Imagem para o ACR'
            inputs:
              command: 'push'
              repository: '$(imageName)'
              containerRegistry:
                connectionString: $(azureSubscription)
                # registry: '$(acrName).azurecr.io'
              tags: |
                $(Build.BuildId)
                latest

          - task: PublishBuildArtifacts@1
            displayName: '5. Publicar Artefato (app.jar)'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'jar'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: 'Deploy da API no Azure'
    dependsOn: Build_e_Test
    condition: succeeded()
    jobs:
      - job: DeployACI
        displayName: 'Deploy no Azure Container Instance (ACI)'
        steps:
          - task: AzureCLI@2
            displayName: 'Parar e Remover ACI antigo (se existir)'
            inputs:
              azureSubscription: $(azureSubscription)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az container delete --name $(containerInstanceName) --resource-group $(resourceGroup) --yes || echo "Nenhum container anterior encontrado."

          - task: AzureCLI@2
            displayName: 'Deploy da nova versão no ACI'
            inputs:
              azureSubscription: $(azureSubscription)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az container create \
                  --resource-group $(resourceGroup) \
                  --name $(containerInstanceName) \
                  --image '$(acrName).azurecr.io/$(imageName):latest' \
                  --registry-login-server '$(acrName).azurecr.io' \
                  --registry-username $(acrLogin) \
                  --registry-password $(acrPassword) \
                  --dns-name-label smz-api-$(Build.BuildId) \
                  --ports 8080 \
                  --environment-variables \
                    'SPRING_DATASOURCE_URL=$(SPRING_DATASOURCE_URL)' \
                    'SPRING_DATASOURCE_USERNAME=$(SPRING_DATASOURCE_USERNAME)' \
                    'SPRING_DATASOURCE_PASSWORD=$(dbPassword)'